In [1]:
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint
import datetime
import time

gkey = "AIzaSyClUQ2ca81McBm42Z5siXFRUFuDcQZccY4"

In [2]:
OriginInput = input("Origin: ")
DestinationInput = input("Destination: ")

Origin: 72 wheeler ave carteret nj
Destination: 118 burrs lane dix hills ny

In [3]:
ArriveDate = input("Date(YYYY-MM-DD): ")
ArriveTime = input("Military Time(HH:MM:SS): ")

Date(YYYY-MM-DD): 2018-06-30
Military Time(HH:MM:SS): 19:30:00

In [17]:
ArriveParam = f"{ArriveDate}T{ArriveTime}"
dt = datetime.datetime.strptime(ArriveParam, "%Y-%m-%dT%H:%M:%S")
print(str(dt))

ts = dt.timestamp()
ts=int(ts)
print(ts)

2018-06-30 19:30:00
1530401400

In [18]:
base1 = "https://maps.googleapis.com/maps/api/distancematrix/json?"
param1 = {
    "key": "AIzaSyClUQ2ca81McBm42Z5siXFRUFuDcQZccY4",
    "origins":OriginInput,
    "destinations":DestinationInput,
    "units":"imperial",
    "arrival_time":ts

}

response = requests.get(base1, params=param1).json()
pprint(response)

{'destination_addresses': ['118 Burrs Ln, Dix Hills, NY 11746, USA'],
 'origin_addresses': ['72 Wheeler Ave, Carteret, NJ 07008, USA'],
 'rows': [{'elements': [{'distance': {'text': '65.1 mi', 'value': 104779},
                         'duration': {'text': '1 hour 15 mins', 'value': 4499},
                         'status': 'OK'}]}],
 'status': 'OK'}

In [19]:
traveltime = response["rows"][0]["elements"][0]["duration"]["value"]
lastDepart = ts-traveltime
print(lastDepart)
print(datetime.datetime.fromtimestamp(lastDepart))

# import time
now = int(time.time())
print(now)
print(datetime.datetime.fromtimestamp(now))

1530396901
2018-06-30 18:15:01
1530391927
2018-06-30 16:52:07

In [20]:
condition = int((lastDepart-now)/60/5)
print(condition)
timechange = lastDepart
timelist = []
for x in range(0,30):
    if x > condition:
        break
    else:
        timelist.append(timechange)
        timechange += -300
        
timelist

16

[1530396901,
 1530396601,
 1530396301,
 1530396001,
 1530395701,
 1530395401,
 1530395101,
 1530394801,
 1530394501,
 1530394201,
 1530393901,
 1530393601,
 1530393301,
 1530393001,
 1530392701,
 1530392401,
 1530392101]

In [25]:
traveltimelist = []
arrivallist = []
traffic = []
for x in timelist:    
    base = "https://maps.googleapis.com/maps/api/distancematrix/json?"
    param = {
        "key": "AIzaSyClUQ2ca81McBm42Z5siXFRUFuDcQZccY4",
        "origins":OriginInput,
        "destinations":DestinationInput,
        "units":"imperial",
        "traffic_model":"best_guess",
        "departure_time":x

    }

    response = requests.get(base, params=param).json()
    arrivetime= x + (response["rows"][0]["elements"][0]["duration_in_traffic"]["value"])
    traveltime = response["rows"][0]["elements"][0]["duration"]["value"]/60
    traffictime = response["rows"][0]["elements"][0]["duration_in_traffic"]["value"]/60
    
    arrivallist.append(arrivetime)
    traveltimelist.append(traffictime)
    traffic.append(traffictime-traveltime)

In [26]:
DF = pd.DataFrame({"departure":timelist, "arrival":arrivallist,"travel":traveltimelist,"traffic":traffic})
DF["waittime"]=''

for i,x in DF.iterrows():
    
    DF.loc[i,"waittime"] = (ts-x.arrival)/60
    
DF

       arrival   departure    traffic      travel waittime
0   1530402574  1530396901  19.566667   94.550000 -19.5667
1   1530402321  1530396601  20.350000   95.333333   -15.35
2   1530402003  1530396301  19.950000   95.033333   -10.05
3   1530401721  1530396001  20.250000   95.333333    -5.35
4   1530401461  1530395701  20.916667   96.000000 -1.01667
5   1530401188  1530395401  21.366667   96.450000  3.53333
6   1530400905  1530395101  21.650000   96.733333     8.25
7   1530400620  1530394801  21.900000   96.983333       13
8   1530400352  1530394501  22.550000   97.516667  17.4667
9   1530400080  1530394201  22.900000   97.983333       22
10  1530399779  1530393901  22.883333   97.966667  27.0167
11  1530399491  1530393601  23.083333   98.166667  31.8167
12  1530399335  1530393301  25.366667  100.566667  34.4167
13  1530399314  1530393001  30.233333  105.216667  34.7667
14  1530398814  1530392701  25.733333  101.883333     43.1
15  1530398582  1530392401  26.983333  103.016667  46.9667
16  1530398379  1530392101  28.600000  104.633333    50.35

In [27]:
DF["arrival"] = [datetime.datetime.fromtimestamp(x) for x in DF["arrival"]]
DF["departure"] = [datetime.datetime.fromtimestamp(x) for x in DF["departure"]]

In [28]:
DF = DF[["departure","arrival","travel","traffic","waittime"]]
DF["travel"] = DF["travel"].map('{:,.1f}'.format)
DF["traffic"] = DF["traffic"].map('{:,.1f}'.format)
DF["waittime"] = DF["waittime"].map('{:,.1f}'.format)

DF

             departure             arrival travel traffic waittime
0  2018-06-30 18:15:01 2018-06-30 19:49:34   94.5    19.6    -19.6
1  2018-06-30 18:10:01 2018-06-30 19:45:21   95.3    20.3    -15.3
2  2018-06-30 18:05:01 2018-06-30 19:40:03   95.0    20.0    -10.1
3  2018-06-30 18:00:01 2018-06-30 19:35:21   95.3    20.2     -5.3
4  2018-06-30 17:55:01 2018-06-30 19:31:01   96.0    20.9     -1.0
5  2018-06-30 17:50:01 2018-06-30 19:26:28   96.5    21.4      3.5
6  2018-06-30 17:45:01 2018-06-30 19:21:45   96.7    21.7      8.2
7  2018-06-30 17:40:01 2018-06-30 19:17:00   97.0    21.9     13.0
8  2018-06-30 17:35:01 2018-06-30 19:12:32   97.5    22.5     17.5
9  2018-06-30 17:30:01 2018-06-30 19:08:00   98.0    22.9     22.0
10 2018-06-30 17:25:01 2018-06-30 19:02:59   98.0    22.9     27.0
11 2018-06-30 17:20:01 2018-06-30 18:58:11   98.2    23.1     31.8
12 2018-06-30 17:15:01 2018-06-30 18:55:35  100.6    25.4     34.4
13 2018-06-30 17:10:01 2018-06-30 18:55:14  105.2    30.2     34.8
14 2018-06-30 17:05:01 2018-06-30 18:46:54  101.9    25.7     43.1
15 2018-06-30 17:00:01 2018-06-30 18:43:02  103.0    27.0     47.0
16 2018-06-30 16:55:01 2018-06-30 18:39:39  104.6    28.6     50.4

In [12]:
test=str(DF["arrival"][1])[11:]
test

'18:43:13'